.lk__wrapper {
    /*border: 1px solid red;*/
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

.lk__panelleft {
    border-right: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    width: 20%;
}

.lk__panellefthdr {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #F3F3F3;
}

.lk__panellefthdr img {
    /*border: 1px solid red;*/
    width: 70px;
    height: 70px;
}

.lk__panellefthdr span {
    text-align: center;
    font-family: Play-Regular;
}

.lk__panelleftmenu {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 10px;
}

.lk__panelleftitem {
    border: 1px solid lightgray;
    display: flex;
    height: 50px;
}

.lk__panelleftitemicon {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
}

.lk__panelleftitemtext {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.1rem;
    font-family: Play-Regular;
}

.lk__panelleftitemtext a {
    text-decoration: none;
    color: black;
}







.lk__panelright {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70px;
    background-color: #F3F3F3;
}

.lk__panelrightmenu {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.lk__panelrightmenublockexit {
    /*border: 1px solid red;*/
    display: flex;
    width: 100px;
}

.lk__panelrightmenublockexit form {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.lk__panelrightmenublockexit form button {
    border: none;
    width: 90%;
    height: 30px;
    font-family: Play-Regular;
    background-color: #771AA9;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}