.reg__wrapper {
    /*border: 1px solid red;*/
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.reg__regblock {
    border: 1px solid lightgray;
    width: 450px;
    height: 500px;
    background-color: #f1f1f1;
    border-radius: 7px;
}

.reg__regblockhdr {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
}

.reg__regblockhdr img {
    height: 90%;
    margin-right: 10px;
}

.reg__regblockhdr span {
    font-size: 1.5rem;
    margin-left: 10px;
    font-family: Play-Regular;
}

.reg__regblockbody {
    /*border: 1px solid red;*/
    display: flex;
    height: 430px;
}

.reg__regblockbody form {
    /*border: 1px solid red;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.reg__regblockbody form input {
    border: 1px solid lightgray;
    display: flex;
    width: 80%;
    height: 45px;
    margin: 20px 0;
    border-radius: 7px;
    font-size: 1.1rem;
    padding-left: 7px;
}

.reg__regblockbody form button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 55px;
    margin-top: 50px;
    background-color: #7c00b1;
    font-size: 1.1rem;
    font-family: Play-Regular;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}